

a {
    text-decoration: none;
}

.main {
    background-color: $black;
    color: $white;
    text-align: center;
    width: 100%;
    height: 90vh;
    padding: 6px;

}

h1 {
    font-size: 45px;
    font-family: $font-family;
}

.display {
    font-size: 21px;
    margin: 10%;
    font-family: $font-family;
}

p {
    font-size: 20px;
    line-height: 30px;
}
