

a {
    text-decoration: none;
}

.main {
    background-color: $black;
    color: $white;
    text-align: center;
    width: 100%;
    height: 90vh;
    padding: 6px;

}

h1 {
    font-size: 45px;
    font-family: $font-family;
}

h2 {
    margin: 70px;
    position: relative;
    top: 25px;
}

.display {
    font-size: 21px;
    margin: 10%;
    font-family: $font-family;
}

p {
    font-size: 20px;
    line-height: 30px;
    margin: 70px;
    font-family: Poppins;
}

.underline {
    margin: 4px;
    position: relative;
    left: 66px;
    bottom: 24px;
}


.line1 {
    width: 40px;
    height: 1.5px;
    background-color: #ee534f;
}

.line2 {
    width: 200px;
    height: 1.5px;
    background-color: #e7e7e7;
}