// styling of my navbar
nav {
    text-align: center;
    word-spacing: 20px;
    font-size: 23px;
    font-family: Poppins;
}

.search {
    display: inline-flex;
    padding-bottom: 10px;
    margin-left: 50px;
}

#btn {
    word-spacing: 10px;
    padding: 0;
}

#button1 {
    background-color: #ee534f;
    font-size: 20px;
    border-radius: 7px;
    font-family: Poppins;
}

#button2 {
    font-size: 20px;
    border-radius: 7px;
    font-family: Poppins;
}

#readMore {
    margin: 70px;
    position: relative;
    bottom: 100px;
    font-family: Poppins;
    bottom: 100px;
}

.code {
    font-size: 70px;
}

.print {
    font-size: 70px;
}

.career {
    font-size: 70px;
}

.service {
    font-size: 20px;
}